<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315319518921-p1kk1i88234aca0hdufi771rpo69rbqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315319518921-p1kk1i88234aca0hdufi771rpo69rbqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCa5hMERcgydUDChbLhn-v7K2ip11q36bE</string>
	<key>GCM_SENDER_ID</key>
	<string>315319518921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teethsocorrista</string>
	<key>PROJECT_ID</key>
	<string>teethkids-d10a1</string>
	<key>STORAGE_BUCKET</key>
	<string>teethkids-d10a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315319518921:ios:bd7e169b5c2d443a832f18</string>
</dict>
</plist>